<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Update User</title>-->

<!--</head>-->
<!--<body>-->

<!--    <form th:method="POST" th:action="@{/users/update}" th:object="${user}">-->
<!--    <input name="id" th:field="${id}" th:value="${user.id}" hidden="hidden">-->
<!--    <label for="name"> Name </label>-->
<!--    <input type="text" id="name" th:field="${name}" th:value="${user.name}" required>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}"th:errors="*{name}">Name error</div>-->
<!--    </br>-->
<!--    <label for="email"> Email </label>-->
<!--    <input type="text" id="email" th:field="${email}" th:value="${user.email}" required>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('email')}"th:errors="*{email}">Email error</div>-->
<!--    <br>-->
<!--    <button type="submit">Update</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>

</head>
<body>
<h1>Update User</h1>
<form th:action="@{/users/update/(id=${user.getId()})}" th:object="${user}" th:method="post">
<!--    <form th:method="POST" th:action="@{/users/update}" th:object="${user}">-->
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" required>
    </div>
    <button type="submit">Update User</button>
</form>
</body>
</html>